# Виртуальное окружение
/venv/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE и редакторов
.idea/
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Локальные настройки и переменные окружения
.env

# Секретные ключи доступа Google API
# Этот файл мы получим на следующем шаге [cite: 16]
credentials.json

# Логи
*.log